# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
**.idea/
**/workspace.*
**Audio-Classification-master
**youtube
**__pycache__
3f22c5ed5dabf1815f16efa8fa53d476-8005b8d3047352d3aeba42172ebdd87136e0d609 (1).zip
wavo.py
